*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
}

//Topology
h1,
h2,
h3,
h4 {
  margin: 0;
}

.link {
  cursor: pointer;
  color: dodgerblue;
  &:hover {
    text-decoration: underline;
  }
}

.text-shadow{
  text-shadow: 1px 1px 3px black;
}